[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"rpi.gpio" = "*"
uptime = "*"
gpiozero = "*"
psutil = "*"
adafruit-circuitpython-am2320 = "*"
requests = "*"
pygame = "~=1.9.6"
evdev = "*"

[dev-packages]

[requires]
python_version = "3.7"
